POSTTEST 4

In [54]:
#import dan melihat data
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
data  = pd.read_csv("motorbike.csv", delimiter=',')
data.head()

,price,mileage,power,make_model,date,fuel,gear,offer_type,version,link
0,23990,150,218.0,Honda,03/2020,Gasoline,Manual,Demonstration,CBR1000RR-R Fireblade SP,/offers/honda-others-cbr1000rr-r-fireblade-sp-...
1,7500,2871,90.0,BMW F 800 GT,09/2018,Gasoline,Manual,Used,NaN,/offers/bmw-f-800-gt-gasoline-white-f65273c6-6...
2,800,1700,3.0,Nova Motors Retro Star,10/2019,Gasoline,NaN,Used,NaN,/offers/nova-motors-retro-star-gasoline-red-f8...
3,14990,24345,NaN,Aprilia RSV4,03/2016,Gasoline,NaN,Used,RF,/offers/aprilia-rsv4-rf-gasoline-silver-1b51fe...
4,6200,25000,128.0,Kawasaki Ninja ZX-6R,08/2009,Gasoline,NaN,Used,NaN,/offers/kawasaki-ninja-zx-6r-gasoline-blue-2f8...

In [55]:
#Info data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34917 entries, 0 to 34916
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       34917 non-null  int64
 1   mileage     34917 non-null  int64
 2   power       28598 non-null  float64
 3   make_model  34917 non-null  object
 4   date        34917 non-null  object
 5   fuel        31727 non-null  object
 6   gear        12847 non-null  object
 7   offer_type  34917 non-null  object
 8   version     17413 non-null  object
 9   link        34917 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.7+ MB

In [56]:
data.shape

(34917, 10)

 1. Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [57]:
X = data.iloc[:, : -1]
y = data.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (24441, 9)
Dimensi X_test (10476, 9)
Dimensi y_train (24441,)
Dimensi y_test (10476,)

2. Normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [58]:
min_max = MinMaxScaler()

# Copy Data
copy1 = data
dataCopy_normalization = copy1[["price"]]

normalization = min_max.fit_transform(dataCopy_normalization[["price"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["price_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["price_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data sebelum dan sesudah normalisasi : \n")
dataCopy_normalization.head(10)

Data sebelum dan sesudah normalisasi :

   price  price_normalisasi
0  23990       2.698763e-05
1   7500       8.436375e-06
2    800       8.988750e-07
3  14990       1.686263e-05
4   6200       6.973875e-06
5   1500       1.686375e-06
6  10500       1.181138e-05
7   8500       9.561375e-06
8   2000       2.248875e-06
9   8250       9.280125e-06

3. standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [59]:
data_copy = data.copy()
columns_to_scale = [ 'price', 'mileage','power']

scaler = StandardScaler()
data_copy[columns_to_scale] = scaler.fit_transform(data_copy[columns_to_scale])

print("Data Sebelum Scaling:")
print(data[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(data_copy[columns_to_scale].head())

Data Sebelum Scaling:
   price  mileage  power
0  23990      150  218.0
1   7500     2871   90.0
2    800     1700    3.0
3  14990    24345    NaN
4   6200    25000  128.0

Data Sesudah Scaling:
      price   mileage     power
0 -0.004473 -0.105282  0.001264
1 -0.007873 -0.092070 -0.012395
2 -0.009255 -0.097756 -0.021679
3 -0.006329  0.012204       NaN
4 -0.008141  0.015384 -0.008340

4. Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [60]:
data.isnull().sum()

price             0
mileage           0
power          6319
make_model        0
date              0
fuel           3190
gear          22070
offer_type        0
version       17504
link              0
dtype: int64

Membuat data tulisan dengan fungsi modus

In [61]:
strategi1 = SimpleImputer(missing_values=None, strategy="most_frequent")

data["make_model"] = strategi1.fit_transform(data[["make_model"]])

print(data.make_model[[1,2,3,4,5,10,20,30,40,50]])

1                    BMW F 800 GT
2          Nova Motors Retro Star
3                    Aprilia RSV4
4            Kawasaki Ninja ZX-6R
5               Aprilia Mojito 50
10    Harley-Davidson Sport Glide
20        Harley-Davidson Softail
30        Ducati Multistrada 1200
40                Kawasaki Z 1000
50               Triumph Thruxton
Name: make_model, dtype: object

Membuat data int menggunakan fungsi Median

In [62]:
strategi2 = SimpleImputer(strategy="median")

data["mileage"] = strategi2.fit_transform(data[["mileage"]])

print(data.mileage[[1,2,3,4,5,10,20,30,40,50]])

1      2871.0
2      1700.0
3     24345.0
4     25000.0
5      3000.0
10     2900.0
20    49500.0
30    41973.0
40     6000.0
50     5917.0
Name: mileage, dtype: float64

Membuat data float(desimal) menggunakan fungsi mean

In [63]:
strategi3 = SimpleImputer(strategy="mean")

data["price"] = strategi3.fit_transform(data[["price"]])

print(data.price	[[1,2,3,4,5,10,20,30,40,50]])

1      7500.0
2       800.0
3     14990.0
4      6200.0
5      1500.0
10    23600.0
20    10000.0
30    11300.0
40    10750.0
50    11500.0
Name: price, dtype: float64

5. Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [64]:
#ngecek data duplikat
data[data.duplicated()]

print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

5832

In [65]:
#cleaning
data.drop_duplicates(inplace=True)

hasil = data.reset_index(drop=True)
print("Jumlah data duplicated :")
hasil.duplicated().sum()

Jumlah data duplicated :

0

6. Ganti tipe data salah satu attribute angka

In [66]:
print("Tipe data Sebelum di ubah :")
data.dtypes

Tipe data Sebelum di ubah :

price         float64
mileage       float64
power         float64
make_model     object
date           object
fuel           object
gear           object
offer_type     object
version        object
link           object
dtype: object

In [67]:
#mengubah data price dari float64
data['mileage'] = data['mileage'].astype('int64')

print("Tipe data power sesudah di ubah :")
data.dtypes

Tipe data power sesudah di ubah :

price         float64
mileage         int64
power         float64
make_model     object
date           object
fuel           object
gear           object
offer_type     object
version        object
link           object
dtype: object

7. Lakukan one hot encoding pada dataset yang kalian miliki

In [69]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(data[["version"]])
data_onehot = pd.DataFrame(onehot)
data_encoder = data.join(data_onehot)
data_encoder.head()

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,price,mileage,power,make_model,date,fuel,gear,offer_type,version,link,...,9469,9470,9471,9472,9473,9474,9475,9476,9477,9478
0,23990.0,150,218.0,Honda,03/2020,Gasoline,Manual,Demonstration,CBR1000RR-R Fireblade SP,/offers/honda-others-cbr1000rr-r-fireblade-sp-...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7500.0,2871,90.0,BMW F 800 GT,09/2018,Gasoline,Manual,Used,NaN,/offers/bmw-f-800-gt-gasoline-white-f65273c6-6...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,800.0,1700,3.0,Nova Motors Retro Star,10/2019,Gasoline,NaN,Used,NaN,/offers/nova-motors-retro-star-gasoline-red-f8...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,14990.0,24345,NaN,Aprilia RSV4,03/2016,Gasoline,NaN,Used,RF,/offers/aprilia-rsv4-rf-gasoline-silver-1b51fe...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6200.0,25000,128.0,Kawasaki Ninja ZX-6R,08/2009,Gasoline,NaN,Used,NaN,/offers/kawasaki-ninja-zx-6r-gasoline-blue-2f8...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0